:root {
  font-family: "Lato", sans-serif;
  background-color: #eae5dc;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#frame {
  display: flex;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
#menu {
  background-color: #e2dccf;
  display: inline-grid;
  justify-content: center;
  text-align: center;
  padding: 50px;
}
#menu button {
  margin: 10px auto;
  width: 100px;
}
#contentDiv {
  background-color: #bf4f3b;
  color: #eae5dc;
  padding: 30px;
}
#title {
  color: #bf4f3b;
  margin: 0px 0px;
}
#motd {
  color: #94575f;
  margin-top: 0px;
}
p {
  color: #322a2a;
}
